@define-color surface #{{colors.material.schemes.light.surface}};
@define-color on-surface #{{colors.material.schemes.light.on-surface}};
@define-color surface-container #{{colors.material.schemes.light.surface-container}};
@define-color surface-container-highest #{{colors.material.schemes.light.surface-container-highest}};
@define-color secondary-container #{{colors.material.schemes.light.secondary-container}};
@define-color on-secondary-container #{{colors.material.schemes.light.on-secondary-container}};
@define-color primary #{{colors.material.schemes.light.primary}};
@define-color error #{{colors.material.schemes.light.error}};
@define-color on-error #{{colors.material.schemes.light.on-error}};
@define-color shadow rgba(0, 0, 0, 0.12);
/* -- base styles -- */

* {
    font-family: 'Roboto', 'FiraCode Nerd Font', sans-serif;
    background-color: transparent;
    background-image: none;
    /*box-shadow: none;*/
    font-size: 16px;
    color: @on-surface;
}

.background {
    background-color: transparent;
}


button {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

#start, #center, #end {
    background-color: @surface;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

#start {
    margin-right: 1rem;
    padding: 0.25rem;
}

.popup {
    margin: 5px;
    background-color: @surface-container;
    box-shadow: 0 2px 2px 0 @shadow, 0 3px 1px -2px @shadow, 0 1px 5px 0 @shadow;
}

.popup menuitem {
    padding: 16px 12px;
}
.popup menuitem:hover {
    background-color: @surface-container-highest;
    color: inherit;
}
.popup menuitem:first-child {
    padding-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.popup menuitem:last-child {
    padding-bottom: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.popup {
    border-radius: 4px;
    box-shadow: none;
}
.widget.focused label {
    margin: 0 0.5rem;
}
.workspaces .item.focused {
    background-color: @secondary-container;
    color: @on-secondary-container;
}
menuitem {
    box-shadow: none;
}
.tray {
    box-shadow: none;
}
.notifications .count {
    background-color: @error;
    color: @on-error;
    font-size: 11px;
    font-weight: 500;
    padding: 0 4px;
    border-radius: 999px;
}

.popup-upower {
    margin: 5px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px 0 @shadow, 0 3px 1px -2px @shadow, 0 1px 5px 0 @shadow;
}
.popup-clock {
    margin: 5px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px 0 @shadow, 0 3px 1px -2px @shadow, 0 1px 5px 0 @shadow;
}
.popup-clock .calendar-clock {
    font-size: 22px;
}
.popup-clock .calendar * {
    border: none;
}
